<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-firebasex-analytics"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>cordova-plugin-firebasex-analytics</name>
    <description>Firebase Analytics module for FirebaseX</description>
    <license>MIT</license>
    <keywords>cordova,firebase,analytics</keywords>

    <engines>
        <engine name="cordova" version=">=12.0.0" />
        <engine name="cordova-android" version=">=14.0.0" />
        <engine name="cordova-ios" version=">=7.0.0" />
    </engines>

    <dependency id="cordova-plugin-firebasex-core" />

    <!-- Preferences -->
    <preference name="FIREBASE_ANALYTICS_COLLECTION_ENABLED" default="true" />
    <preference name="FIREBASE_ANALYTICS_WITHOUT_ADS" default="false" />
    <preference name="GOOGLE_ANALYTICS_ADID_COLLECTION_ENABLED" default="true" />
    <preference name="GOOGLE_ANALYTICS_DEFAULT_ALLOW_ANALYTICS_STORAGE" default="true" />
    <preference name="GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_STORAGE" default="true" />
    <preference name="GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_USER_DATA" default="true" />
    <preference name="GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_PERSONALIZATION_SIGNALS" default="true" />
    <preference name="IOS_ON_DEVICE_CONVERSION_ANALYTICS" default="false" />

    <js-module name="FirebasexAnalyticsPlugin" src="www/firebasex-analytics.js">
        <clobbers target="FirebasexAnalytics" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FirebasexAnalyticsPlugin">
                <param name="android-package" value="org.apache.cordova.firebasex.FirebasexAnalyticsPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <!--<uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>-->
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService" />
            <meta-data android:name="firebase_analytics_collection_enabled" android:value="$FIREBASE_ANALYTICS_COLLECTION_ENABLED" />
            <meta-data android:name="google_analytics_adid_collection_enabled" android:value="$GOOGLE_ANALYTICS_ADID_COLLECTION_ENABLED" />
            <meta-data android:name="google_analytics_default_allow_analytics_storage" android:value="$GOOGLE_ANALYTICS_DEFAULT_ALLOW_ANALYTICS_STORAGE" />
            <meta-data android:name="google_analytics_default_allow_ad_storage" android:value="$GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_STORAGE" />
            <meta-data android:name="google_analytics_default_allow_ad_user_data" android:value="$GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_USER_DATA" />
            <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="$GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_PERSONALIZATION_SIGNALS" />
        </config-file>

        <preference name="ANDROID_FIREBASE_ANALYTICS_VERSION" default="23.0.0" />
        <preference name="ANDROID_PLAY_SERVICES_TAGMANAGER_VERSION" default="18.1.1" />

        <source-file src="src/android/FirebasexAnalyticsPlugin.java" target-dir="src/org/apache/cordova/firebasex" />
        <framework src="com.google.firebase:firebase-analytics:$ANDROID_FIREBASE_ANALYTICS_VERSION" />
        <framework src="com.google.android.gms:play-services-tagmanager:$ANDROID_PLAY_SERVICES_TAGMANAGER_VERSION" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="FirebasexAnalyticsPlugin">
                <param name="ios-package" value="FirebasexAnalyticsPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/FirebasexAnalyticsPlugin.h" />
        <source-file src="src/ios/FirebasexAnalyticsPlugin.m" />

        <preference name="IOS_FIREBASE_SDK_VERSION" default="12.9.0" />
        <preference name="IOS_GOOGLE_TAG_MANAGER_VERSION" default="9.0.0" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/" />
            </config>
            <pods use-frameworks="true">
                <pod name="FirebaseAnalytics/Core" spec="12.9.0" />
                <pod name="FirebaseAnalytics/IdentitySupport" spec="12.9.0" />
                <!--<pod name="GoogleAdsOnDeviceConversion" spec="3.1.0"/>-->
                <pod name="GoogleTagManager" spec="9.0.0" />
            </pods>
        </podspec>

        <hook type="after_plugin_install" src="scripts/ios/after_plugin_install.js" />
        <hook type="before_plugin_uninstall" src="scripts/ios/before_plugin_uninstall.js" />
    </platform>

    <hook type="after_install" src="scripts/post_install.js" />
</plugin>
